.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  gap: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.header_logo {
  height: 24px;
  object-fit: contain;
  margin-left: 20px;
}

.header_input_container {
  display: flex;
  align-items: center;

  justify-content: center;
}
.header_input {
  display: flex;
  align-items: center;
  width: 20rem;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.header_right {
  margin-right: 8px;
  display: flex;
  align-items: center;
}
.header_searchbutton {
  width: 100%;
  color: black;
  width: 50px !important;
  display: flex;
  border-left: 1px solid lightgray;
  align-items: center;
  justify-content: center;
}
.header_mic {
  margin-left: 20px;
}
.header_left {
  display: flex;
  align-items: center;
}
.menu_icon {
  font-size: 25px !important;
  padding: 5px;
}

.header_left .menu_icon:hover {
  transition: 0.1s;
  background-color: rgb(222, 213, 213);
  cursor: pointer;
  border-radius: 30px;
}

.header_input > input {
  flex: 1;
  border: none;
  outline: none;
}

@media (max-width: 768px) {
  .header {
    width: 109%;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .header_left .menu_icon {
    display: none;
  }

  .header_right > .Videoicon {
    display: none;
  }
  .header_right > .Notificationicon {
    display: none;
  }

  .header_left > img {
    margin: 0;
    padding: 0;
  }
  .header_mic {
    display: none;
  }
  .header_input_container {
    margin: 4px;
    padding: 0;
    width: 200px;
  }
}
