.sidebar {
  flex: 0.2;
  position: sticky;
}

.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
