.sidebar {
  flex: 0.2;
  position: fixed;
  transition: left 0.3s;
  left: 0px;
}

.sidebar.open {
  transition: left 0.3s;
  left: -250px; /* Show the sidebar when it's open */
}

.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
